/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width:500px ;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color:#474747;
    margin-bottom: 0px;

}
.banner-title{
    font-size: 85px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0px auto;
}

/* about section styles */
.about{
    margin: 130px 0px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    color:#181818;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.about-info-conteiner{
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    margin:10px ;
}
.info-description{
    font-weight: bold;
    margin:10x ;
    color:#474747 ;
}
#what-i-do-description{
    padding: 30px 150px;
}